body {
  background-color: #20252A;
  color: #bbb;
  text-align: center;
  font-family: sans-serif;
}

#wrapper, header, #arena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 810px;
  height: 100vh;
  margin: 0 auto;
}

header {
  font-family: 'Sansita', sans-serif;
  color: #448E67;
}

h1 {
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

#vial {
  width: 540px;
  height: 40px;
  margin: 30px 0 30px 0;
  border: 2px solid #448E67;
  display: flex;
  justify-content: flex-start;
}

#liquid {
  background-color: #448E67;
  width: 0%;
  height: 100%;
}

#arena {
  background-color: #282C33;
  width: 810px;
  height: 500px;
  border-radius: 10px;
}

#prompt {
  font-size: 60px;
  margin-bottom: 20px;
}

#answer {
  font-size: 30px;
}

.right {
  color: #448E67;
}

.wrong {
  color: #DF6C74;
}
